version: '3.8'

services:
  ldap:
    build: .
    container_name: ldap-custom-prod
    env_file: .env
    ports:
      - "389:1389"   # Host 389 maps to internal 1389
      - "636:1636"   # Host 636 maps to internal 1636
    volumes:
      # --- Persistent Data ---
      - ldap_db:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d
      
      # --- SSL Certs (Your Request) ---
      # We mount them read-only for security
      - ./certs/ldap.crt:/etc/ldap/certs/tls.crt
      - ./certs/ldap.key:/etc/ldap/certs/tls.key
      - ./certs/ca.crt:/etc/ldap/certs/ca.crt

volumes:
  ldap_db:
  ldap_config: