version: '3.8'

services:
  ldap:
    build: .
    container_name: ldap-custom-prod
    env_file: .env
    ports:
      - "389:389"
      - "636:636" # Host 636 maps to internal 1636
    volumes:
      # --- Persistent Data ---
      - ldap_db:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d
      
      # Match the names of your actual files on disk to the variables
      - ./certs/ldap.crt:${LDAP_TLS_CERT}
      - ./certs/ldap.key:${LDAP_TLS_KEY}
      - ./certs/ca.crt:${LDAP_TLS_CA_CRT}
    healthcheck:
      test: ["CMD", "ldapsearch", "-H", "ldap://localhost", "-b", "cn=config", "-1"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  ldap_db:
  ldap_config: